APP_NAME=YGO Deck Helper API
DEBUG=true
CORS_ORIGINS=http://localhost:3000
# LM_STUDIO_CONFIG_PATH=/absolute/path/to/agents/config/lm_studio.json

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=2001
POSTGRES_DB=ygo-helper
